<% provide(:title, "Basics") %>
<h1>Basics</h1>
<div class="container">
<h2><strong>
Qué es un resource en el contexto de una aplicación web REST en Ruby on Rails?
</strong></h2>
<p>Un resource es algun tipo de objeto con el que el programa o el usuario puede
interactuar por ejemplo un string, un array, un numero. En una aplicación web REST
un objeto representa un elemento en labase de datos </p>
</div>
<div class="container">
<h3><strong>
Qué puede hacerse con un resource?
</strong></h3>
<p>Hay cuatro operaciones basicas con las que se puede interactuar con un resource.
Estas son: Crear, Actualizar, Destruir, y Leer</p>
</div>
<h4><strong>
Qué es RESTful routing?
</strong></h4>
<p>RESTful routing es una forma de vincular los cinco verbos de HTTP
(get, post, put, delete, patch) con las operaciones previamente nombradas</p>
</div>
