<% provide(:title, "Ruby") %>
<h1>Ruby</h1>
<h7>Lista de commandos para realizar acciones en la consola de RUBY </h7>
<p> </p>
<div class="container">
<h9><strong>
Interpolación de strings
</strong></h9>
<p> >> f = "ejemplo"</p>
<p> >> puts "esto es un #{f}" </p>
<h9><strong>
Cómo se declara un array y cómo se adiciona un elemento al final del array
</strong></h9>
<p> >>array=["a","b","c"]</p>
<p> >>array<<"d"</p>
<h9><strong>
Cómo se itera un array utilizando el comando each
</strong></h9>
<p> >>array.each do|i|</p>
<p> >>puts i</p>
<p> >> end</p>
<h9><strong>
Cómo se declara un hash
</strong></h9>
<p> >>hash={"nombre"=>"santiago","apellido"=>"pinto"}</p>
<h9><strong>
Cómo se itera un array utilizando el comando each
</strong></h9>
<p> >>hash.each do |a,b|</p>
<p> >>puts #{a} #{b}</p>
<p> >> end</p>
<h9><strong>
Que es un block en ruby? De un ejemplo de cómo utilizarlo
</strong></h9>
<p> Un block es el resultado de una iteracion en un array o un hash. Por lo que esto es un block</p>
<p> >>array.each do|i|</p>
<p> >>puts i</p>
<p> >> end</p>
<h9><strong>
Cual es la convención en Ruby a la hora de nombrar variables?
</strong></h9>
<p>variable locales empiezan con letras en minuscula, instace variables empiezan con @ y variable de classe empiezan con @@</p>
<h9><strong>
Qué son attr_reader, attr_writer y attr_accesor? Para qué sirven?
</strong></h9>
<p> attr_reader es una forma de escribir metodos de tipo "get"</p>
<p> >>attr_writter es una forma de escribir metodos de tipo "post"</p>
<p> >> attr_accesor es una forma de escribir metodos de convinaciones de tipos "get" y "post"</p>







</div>